/* =============================  General Site CSS Styles ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 4rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h2 {
  font-size: 3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h3 {
  font-size: 2rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 400;
  padding-top: 25px;
}
h4 {
  font-size: 1.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h5 {
  font-size: 1.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h6 {
  font-size: 1rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*h1 { This is used for Main Titles
  font-size: 4rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}*/

/*h2 { This is for Page titles 
  font-size: 3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}*/

/*h3 {
  font-size: 2rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}*/

/*h4 { aka paragraph style
  font-size: 1.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}*/

/*h5 { Used for footer title sections 
  font-size: 1.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}*/
/*h6 { Used a tags in footer 
  font-size: 1rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}*/

/* =============================  Navbar CSS Styles  ==================================== */

.navbar {
  background: #ffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: #961f35;

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #961f35;
  border-radius: 4px;
  color: #ffffff;
}

.button:hover {
  background: #141414;
  transition: all 0.5s ease;
}

.navbar__links:hover {
  color: #961f35;
  transition: all 0.5s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #ffffff;
    top: 100%;
    opacity: 1;
    transition: all 0.7s ease;
    z-index: 99;
    height: 65vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.7s ease-in-out;
    background: #961f35;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  /* Initial state for the bars */
  #mobile-menu .bar:nth-child(1) {
    transform: translateY(0) rotate(0deg);
  }

  #mobile-menu .bar:nth-child(2) {
    opacity: 1;
  }

  #mobile-menu .bar:nth-child(3) {
    transform: translateY(0) rotate(0deg);
  }

  /* Transition State once clicked */
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* =============================  Student/Members Portal MailChimp Student CSS Styles  ==================================== */

.mailChimp__student {
  background-color: #961f35;
}

.mailChimp__student__content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  background-color: #961f35;
  width: 100%;
  max-width: 1300px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.mailChimp__student__text__content {
  color: #fff;
  width: 100%;
}

.mailChimp__student__text__content h1 {
  text-align: center;
  background-color: #fff;
  background-size: 100%;
  padding-bottom: 20px;
}

.rounded-image {
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .mailChimp__student__text__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
}

/* =============================  Google Form - Sponsor Sign Up CSS Styles  ==================================== */

.sponsor__signup {
  background-color: #ffffff;
}

.sponsor__signup__content__container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 2500px;
  background-color: #ffffff;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.sponsor__signup__main__text__content {
  padding-bottom: 50px;
  color: #961f35;
  width: 100%;
}

.sponsor__signup__main__text__content h1 {
  text-align: center;
  font-size: 4rem;
  background-color: #961f35;

  background-size: 100%;
}

.sponsor__signup__main__text__content h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10px;
  background-color: #141414;

  background-size: 100%;
}

.sponsor__signup__main__img--container--below {
  text-align: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .sponsor__signup__content__container {
    height: 2800px;
  }

  .sponsor__signup__main__text__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .sponsor__signup__main__text__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .sponsor__signup__main__text__content h2 {
    font-size: 3rem;
  }

  .sponsor__signup__main__text__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .sponsor__signup__content__container {
    height: 3000px;
  }

  .sponsor__signup__main__text__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .sponsor__signup__main__text__content h2 {
    font-size: 2rem;
  }

  .sponsor__signup__main__text__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  #sponsor__images____main__img {
    height: 100%;
    width: 100%;
  }
}

/* =============================  About Us CSS Styles  ==================================== */

.about__us {
  background-color: #961f35;
}

.about__us__content__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: auto;
  background-color: #961f35;

  width: 100%;
  max-width: 1300px;

  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about__us__text__content h1 {
  text-align: center;
  background-color: #ffff;
}

.about__us__text__content h3 {
  color: #ffff;
  text-align: left;
  background-color: #fff;
  font-weight: 400;
  padding-top: 30px;
}

.about__us__img--container {
  text-align: center;
  padding-left: 2%; /* Adjust the padding as needed */
  height: 100%;
}

#about__us__img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about__us__content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: auto;
  }
  .about__us__img--container {
    text-align: center;
    padding-left: 0px;
  }

  .about__us__text__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .about__us__text__content h1 {
    margin-top: 2rem;
  }

  .about__us__text__content h2 {
    font-size: 1rem;
  }

  .about__us__text__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .about__us__text__content h1 {
    margin-top: 3rem;
  }

  .about__us__text__content p {
    margin-top: 2rem;
  }

  #about__us__img {
    height: 100%;
    width: 100%;
  }
}

/* =============================  Mission Statement CSS Styles ==================================== */

.mission__statement__container {
  background-color: #ffffff;
}

.mission__statement__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: auto;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.mission__statement__main__text__content {
  color: #961f35;
  width: 100%;
}

.mission__statement__main__text__content h1 {
  text-align: center;
  background-color: #961f35;
}

.mission__statement__main__text__content h3 {
  background-color: #141414;
  color: #141414;
  text-align: left;
  font-weight: 400;
  padding-top: 30px;
  font-style: italic;
}

.mission__statement__main__img--container--below {
  text-align: center;
}

#mission__statement__main__NSBE__LOGO {
  height: 100%;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .mission__statement__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: auto;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .mission__statement__main__text__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .mission__statement__main__text__content h1 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .mission__statement__main__text__content h1 {
    margin-top: 3rem;
  }

  .mission__statement__main__text__content p {
    margin-top: 2rem;
  }
  #mission__statement__main__NSBE__LOGO {
    height: 100%;
    width: 60%;
  }
}

/* =============================  Current Board CSS Styles ==================================== */

.current__board {
  background-color: #ffffff;
}

.current__board__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: auto;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.current__board__container__header {
  display: flex;
  justify-content: center;
}

.current__board__container__header h1 {
  background-color: #961f35;
  font-weight: bold;
}

.current__board__main__text__content {
  color: #961f35;
  width: 100%;
}

.current__board__main__text__content h1 {
  text-align: center;
  background-color: #961f35;
}

.current__board__main__text__content h2 {
  text-align: center;
  margin-top: 10px;
  background-color: #141414;
  background-size: 100%;
}

.current__board__main__text__content p {
  color: #141414;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

.current__board__main__img--container--below {
  text-align: center;
  overflow: hidden;

  height: 300px;
  width: 400px;
}

#current__board__main__NSBE__LOGO {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .current__board__container__header {
    padding-left: 50px;
    padding-right: 50px;
  }
  .current__board__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: auto;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .current__board__main__text__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .current__board__main__text__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .current__board__main__text__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .current__board__main__text__content h2 {
    font-size: 2rem;
  }

  .current__board__main__text__content p {
    margin-top: 2rem;
    font-size: 1rem;
  }
  #current__board__main__NSBE__LOGO {
    height: 100%;
    width: 60%;
  }
}
/* =============================  Sponsor Info CSS Styles  ==================================== */

.sponsor__info {
  background-color: #961f35;
}

.sponsor__info__content__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: auto;
  background-color: #961f35;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.sponsor__info__text__content {
  color: #961f35;
  width: 100%;
}

.sponsor__info__text__content h1 {
  text-align: center;
  background-color: #fff;
  background-size: 100%;
}

.sponsor__info__text__content h3 {
  color: #fff;
  background-color: #fff;
  text-align: left;
}

.sponsor__info__img--container--below {
  padding-left: 25px;
  padding-right: 25px;
}

#sponsor__info__img {
  width: 100%;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .sponsor__info__content__container {
    flex-direction: column-reverse;
  }

  .sponsor__info__text__content {
    text-align: center;
  }

  #sponsor__info__img {
    padding-top: 25px;
  }
}

@media screen and (max-width: 480px) {
}

/* =============================  Google Calendar Container CSS Styles  ==================================== */

.google__calendars {
  background-color: #ffffff;
}

.calendar__content__container {
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
}

.calendar__container {
  text-align: center;
  position: relative; /* Set position to relative for child absolute positioning */
  width: 100%; /* Set the width of the container to 100% */
  padding-top: 56.25%; /* 16:9 aspect ratio for responsive iframe */
}

.calendar__container iframe {
  position: absolute; /*w Position iframe absolutely within its container */
  width: 100%; /* Set the width of the iframe to 100% */
  height: 100%; /* Set the height of the iframe to 100% */
  top: 0;
  left: 0;
  border: none; /* Remove iframe border */
}

.addCalendar__button {
  text-align: center;
}

.calendar__text__content {
  color: #961f35;
}

.calendar__content__container h1 {
  text-align: center;
  background-color: #961f35;
  background-size: 100%;
}

.calendar__content__container h2 {
  text-align: center;
  font-size: 0rem;
  margin-top: 10px;
  background-color: #141414;
  background-size: 100%;
}

.calendar__content__container p {
  color: #141414;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .calendar__content__container h1 {
    font-size: 2.5rem;
  }
  .calendar__content__container h2 {
    text-align: center;
    font-size: 1rem;
    background-color: #141414;

    background-size: 100%;

    padding-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .calendar__content__container h1 {
    font-size: 2rem;
  }

  .calendar__content__container h2 {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    background-color: #141414;

    background-size: 100%;

    padding-bottom: 40px;
  }
}

.addToCalendar__btn {
  font-size: 1rem;
  background-color: #961f35;

  padding: 14px 32px;
  border: none;
  border-radius: 6px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.addToCalendar__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.addToCalendar__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #141414;
  transition: all 0.35s;
  border-radius: 4px;
}

.addToCalendar__btn:hover:after {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .addToCalendar__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
/* =============================  Drive Resources Container CSS Styles  ==================================== */

.drive_resources {
  background-color: #ffffff;
}

.drive_resources__container {
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
}

.drive_resources__container h1 {
  text-align: center;
  font-size: 4rem;
  background-color: #961f35;
  background-size: 100%;

  padding-bottom: 50px;
}

.drive_resources__container a {
  text-align: center;
  font-size: 2rem;
}

.drive_resources__container a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.drive_resources__container a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.drive_resources__container a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.drive_resources__container h4 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10px;
  background-color: #141414;
  background-size: 100%;
}

.drive_resources__container p {
  color: #141414;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 50px;
}

.drive_resources__company__title {
  background-color: #961f35;
  color: #961f35;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}

.drive_resources__company__title h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 3.5rem;
  text-align: center;
  background-color: white;
}

.drive_resources__container_companies {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .drive_resources__container h1 {
    font-size: 2.5rem;
  }
  .drive_resources__container h2 {
    text-align: center;
    font-size: 1rem;
    background-color: #141414;

    background-size: 100%;

    padding-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .drive_resources__container h1 {
    font-size: 2rem;
  }

  .drive_resources__container h2 {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    background-color: #141414;
    /* background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%); */
    background-size: 100%;

    padding-bottom: 40px;
  }
}

/* =============================  FRC Resources Container CSS Styles  ==================================== */

.frc_resources {
  background-color: #ffffff;
}

.frc_resources__container {
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
}

.frc_resources__container h1 {
  text-align: center;
  background-color: #961f35;
  background-size: 100%;
  padding-bottom: 50px;
}

.frc_resources__container h2 {
  text-align: center;
  margin-top: 10px;
  background-color: #961f35;
  background-size: 100%;
}

.frc_resources__container h3 {
  text-align: center;
  margin-top: 1px;
  background-color: #141414;
  background-size: 100%;
}

.frc_resources__container a {
  text-align: center;
  font-size: 2rem;
}

.frc_resources__container a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.frc_resources__container a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.frc_resources__container a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.frc_resources__container a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.frc_resources__container h4 {
  text-align: center;
  margin-top: 10px;
  background-color: #141414;
  background-size: 100%;
}

.frc_resources__container p {
  color: #141414;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 50px;
}

.frc_resources__company__title {
  background-color: #961f35;
  color: #961f35;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}

.frc_resources__company__title h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: white;
}

.frc_resources__container_companies {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .frc_resources__container h1 {
    font-size: 2.5rem;
  }
  .frc_resources__container h2 {
    text-align: center;
    font-size: 1rem;
    background-color: #141414;

    background-size: 100%;

    padding-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .frc_resources__container h1 {
    font-size: 2rem;
  }

  .frc_resources__container h2 {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    background-color: #141414;

    background-size: 100%;
    padding-bottom: 40px;
  }
}

/* =============================  Professional Development Resources  ==================================== */

.professional__development {
  background-color: transparent;
}

.professional__development__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #961f35;
}

.professional__development__container__title h1 {
  padding: 50px 25px;
  background-color: #fff;
  font-weight: bold;
  text-align: center;
}

.professional__development__container__title h2 {
  background-color: #fff;
  font-weight: bold;
  text-align: center;
}
.pd__image {
  width: 65%;
  border-radius: 8px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#resume__imgae {
  width: 50%;
  border-radius: 8px;
}

/* =============================  Contact Us / Help CSS Styles  ==================================== */

.contactUs__help {
  background: #fff;
}

.contactUs__help__container {
  background-color: #ffffff;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.contactUs__help__container h1 {
  font-size: 3rem;
  background-color: #961f35;
}
/* =============================  Social Media Links -- Members / Student Portal Page CSS Styles  ==================================== */

.socialMedia__elemnents {
  background-color: #fff;
}

.socialMedia__btn {
  font-size: 2.25rem;
  font-weight: bold;
  background-color: #fff;
  padding: 8px 8px;
  border: none;
  border-radius: 6px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.socialMedia__container {
  background-color: #961f35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 5%;
}

.socialMedia__container h1 {
  background-color: #fff;
}

.socialMedia__container h2 {
  font-size: 4rem;
  color: #fff;
}

#socialMedia__logo {
  color: #961f35;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.socialMedia__links {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.socialMedia__link--items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.socialMedia__link--items h2 {
  padding-top: 40px;
  font-size: 2rem;
  background-color: white;
}

.socialMedia__btn a {
  position: relative;
  z-index: 2;
  color: #961f35;
  text-decoration: none;
}

.socialMedia__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #141414;
  transition: all 0.35s;
  border-radius: 4px;
}

.socialMedia__btn:hover {
  color: #fff;
}

.socialMedia__btn:hover:after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .socialMedia__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
    font-size: 1.75rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .socialMedia__container h1 {
    font-size: 3rem;
    color: #961f35;
  }
}

@media screen and (max-width: 480px) {
  .socialMedia__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
    font-size: 1.75rem;
    padding-left: 30px;
    padding-right: 30px;
  }
  .socialMedia__container h1 {
    font-size: 2.5rem;
    color: #961f35;
  }
}

/* =============================  Alumni Message CSS Styles ==================================== */

.stacked__main {
  background-color: #ffffff;
}

.stacked__main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 10vh;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 700px;
}

.lstacked__main__content {
  color: #961f35;
  width: 100%;
}

.lstacked__main__content h1 {
  background-color: #961f35;
  background-size: 100%;
}

.lstacked__main__content h2 {
  margin-top: 10px;
  background-color: #961f35;
  background-size: 100%;
}

.lstacked__main__content h4 {
  background-color: #141414;
  font-style: italic;
  margin-top: 1rem;
  font-weight: 700;
}

.rstacked__main__content h1 {
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.rstacked__main__img--container {
  text-align: center;
  height: auto;
}

#rstacked__main__img {
  flex-direction: column;
  height: 90%;
  width: 90%;
  padding-bottom: 25px;
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .stacked__main__container {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    height: auto;
    background-color: #ffffff;
  }
  .stacked__main__container {
    padding-bottom: 25px;
  }

  .lstacked__main__content h1 {
    font-size: 2.5rem;
  }

  .lstacked__main__content h2 {
    font-size: 2.5rem;
  }

  .lstacked__main__content p {
    font-size: 1.5rem;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .lstacked__main__content h1 {
    font-size: 2rem;
  }

  .lstacked__main__content h2 {
    font-size: 2rem;
  }

  .lstacked__main__content p {
    font-size: 1rem;
    padding-bottom: 25px;
  }
}

/* =============================  Sponsorship Package CSS Styles  ==================================== */

.sponsor__package {
  background-color: #ffffff;
}

.sponsor__package__container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: auto;
  background-color: #ffffff;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.sponsor__package__container__text {
  padding-bottom: 50px;
  color: #961f35;
  width: 100%;
}

.sponsor__package__container__text h1 {
  text-align: center;
  font-size: 4rem;
  background-color: #961f35;

  background-size: 100%;
}

.sponsor__package__container__img {
  text-align: center;
}

#sponsorship__package {
  height: 100%;
  width: 100%;
  border: solid 3px black;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .sponsor__package__container__text h1 {
    font-size: 3rem;
  }

  #sponsorship__package {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .sponsor__package__container__text h1 {
    font-size: 2.5rem;
  }
  #sponsorship__package {
    width: 65%;
  }
}

/* =============================  Board Message CSS Styles  ==================================== */

.board__message {
  background-color: #ffffff;
}

.board__message__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: auto;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-top: 100px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
}

.board__message__img--container h1 {
  font-weight: bold;
  padding-top: 25px;
}

.board__message__content {
  color: #961f35;
  width: 100%;
}

.board__message__content h1 {
  padding-top: 25px;
  background-color: #961f35;
  background-size: 100%;
}

.board__message__content h2 {
  margin-top: 10px;
  background-color: #961f35;
  background-size: 100%;
}

.board__message__content h4 {
  background-color: #141414;
  font-style: italic;
  margin-top: 1rem;
  font-weight: 700;
  text-align: left;
}

.board__message__img--container {
  height: auto;
  align-items: center;
  width: 90%;
  text-align: center;
}

#board__message__img {
  flex-direction: column;
  height: 75%;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .board__message__container {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
  }

  .board__message__content h1 {
    font-size: 3rem;
  }

  .board__message__content h2 {
    font-size: 2.5rem;
  }

  .board__message__content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .board__message__container {
    flex-wrap: reverse;
  }
  .board__message__content h1 {
    font-size: 3rem;
  }

  .board__message__content h2 {
    font-size: 2rem;
  }

  .board__message__content p {
    font-size: 1rem;
  }
}

/* =============================  Welcome - SCU Landing Page CSS Styles ==================================== */

.main {
  background-color: #961f35;
}

.main__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: auto;
  background-color: #961f35;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 50px 50px 50px 50px;
}

.main__content {
  color: #961f35;
  width: 100%;
}

.main__content h1 {
  background-color: #fff;
  background-size: 100%;
}

.main__content h2 {
  margin-top: 10px;
  background-color: #fff;
  background-size: 100%;
}

.main__btn {
  font-size: 1rem;
  background-color: #fff;

  padding: 14px 32px;
  border: none;
  border-radius: 6px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #961f35;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #141414;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
  padding-left: 50px;
}

#main__img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: auto;
    background-color: #961f35;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 25px 50px 50px 50px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 2.5rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .main__img--container {
    text-align: center;
    padding-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
  .main__img--container {
    text-align: center;
    padding-left: 0px;
  }
}
/* =============================  Zeffy Dontation Container CSS Styles  ==================================== */
.zeffy {
  background: transparent;
}

.zeffy-container {
  background: transparent;
  display: flex;
  width: 100%;
  height: 100%;
}

/* =============================   Dontation Container CSS Styles  ==================================== */

.donation {
  background: transparent;
}
.donation-conainter {
  background: transparent;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.donation-container-text {
  padding-bottom: 25px;
}
.donation-conainter h1 {
  background-color: #961f35;
  padding-bottom: 25px;
}

.donation-conainter h2 {
  background-color: grey;
  padding-bottom: 15px;
  text-align: left;
}

.donation-conainter h3 {
  background-color: #961f35;
  padding-bottom: 15px;
  text-align: left;
}
.donation-container-image {
  border-radius: 5px;
  border: solid 3px black;
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  .donation-conainter h1 {
    font-size: 2rem;
    color: #961f35;
    padding-bottom: 25px;
  }

  .donation-conainter h2 {
    font-size: 1rem;
    color: grey;
    padding-bottom: 15px;
    text-align: left;
  }

  .donation-conainter h3 {
    font-size: 1rem;
    color: #961f35;
    padding-bottom: 15px;
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .donation-conainter h1 {
    font-size: 2.5rem;
    color: #961f35;
    padding-bottom: 25px;
  }

  .donation-conainter h2 {
    font-size: 0.75rem;
    color: grey;
    padding-bottom: 15px;
    text-align: left;
  }

  .donation-conainter h3 {
    font-size: 0.75rem;
    color: #961f35;
    padding-bottom: 15px;
    text-align: left;
  }
}

/* =============================  General Body Meeting Info CSS Styles ==================================== */

.gen_body_information {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.gen_body_information h2 {
  background-color: #961f35;
  color: #961f35;
  background-size: 100%;
}

.gen_body_information h3 {
  background-color: #141414;
  background-size: 100%;
}

@media screen and (max-width: 960px) {
  .gen_body_information {
  }

  .gen_body_information h2 {
    text-align: center;
  }
  .gen_body_information h3 {
    padding-top: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
}

/* =============================  Chapter Stats CSS Styles  ==================================== */

.stats__container {
  background-color: #141414;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stats__logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.stats__links {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
}

.stats__link--wrapper {
  display: flex;
}

.stats__link--items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 14px;
  width: 140px;
}

.icon__stats {
  text-align: center;
}

.stats__link--items h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.stats__link--items h5 {
  background-color: #fff;
}

.stats__link--items > h2 {
  color: #ffffff;
  padding-top: 10px;
}

.stats__link--items p {
  color: white;
}

.stats__link--items a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 920px) {
  .stats__links {
    padding-top: 2rem;
  }

  #stats__logo {
    margin-bottom: 2rem;
  }

  .stats__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .stats__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

/* =============================  Join Us / Stay Connected CSS Styles   ==================================== */

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

  padding-bottom: 50px;
}

.services h2 {
  background-color: #961f35;
  background-size: 100%;
  margin-bottom: 5rem;
}

.services h4 {
  background-color: #fff;
  background-size: 100%;
  margin-bottom: 5rem;
}

.services__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services__card:before {
  opacity: 0.2;
}

.services__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url("/images/scdiCortyardPic.jpg");
  background-size: cover;
  position: relative;
  color: #fff;
}

.services__card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.9) 100%
    ),
    url("/images/NSBE49ConventionPic.jpg");
  background-position: center;
  background-size: cover;
}

.services__card h4 {
  position: absolute;
  top: 450px;
  left: 30px;
}

.services__card p {
  position: absolute;
  top: 450px;
  left: 114px;
}

.services__card:nth-child(2) p {
  position: absolute;
  top: 450px;
  left: 205px;
}

.services__card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: transparent;
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
}

.service__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .services {
    height: auto;
  }

  .services h2 {
    margin-top: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .services {
    height: 1400px;
  }

  .services h1 {
    font-size: 2rem;
    text-align: center;
  }

  .services__card {
    width: 300px;
  }
}

/* =============================  Global Footer Styles  ==================================== */

.footer__container {
  background-color: #961f35;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h4 {
  margin-bottom: 16px;
  background-color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #141414;
  transition: 0.3s ease-out;
}

.social__icon--link {
  color: #141414;
  font-size: 34px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
  background-color: #961f35;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #ffff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights {
  color: #ffff;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 1;
    padding: 10px;
    width: 100%;
  }
}

/* =============================  Events Page Section ==================================== */

.events {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-bottom: 50px;
}

.events__container h1 {
  text-align: center;
  width: 100%;
  background-color: #961f35;
  padding-left: 50px;
  padding-right: 50px;
}

.events__container h3 {
  text-align: center;
  width: 100%;
  background-color: #141414;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
/* =============================  End of CSS Styles  ==================================== */
